/******************************************************************************
Generic body and header styles
******************************************************************************/

body {
	background-color: #fef0da;
	font-family: Verdana, sans-serif;
	margin: 0;
	position: relative;
	min-height: 100vh;
}

.pageHeader {
	display: flex;
	flex-direction: column;
	background-image: url("../images/headerBG.png");
	background-repeat: no-repeat;
	background-color: #4191d8;
	margin: 0;
	padding: 50px 30px 50px 30px;
}

.headerBottom {
	background-color: #4191d8;
	height: 20px;
	position: relative;
	bottom: 15px;
	z-index; 3;
}

/*
Container section for red and gold triangles below header. This container is
present for main section formatting purposes.
*/
.headerBottomContainer {
	display: flex;
	flex-direction: row;
}

.headerBottomRed {
	background-color: #ff4e33;
	height: 80px;
	width: 160px;
	position: relative;
	bottom: 15px;
	z-index: 2;
	clip-path: polygon(0 0, 100% 0, 0 100%);
	
	animation-name: onloadHeaderRed;
	animation-duration: 1.5s;
}

.headerBottomGold {
	background-color: #ffc837;
	height: 80px;
	width: 320px;
	position: relative;
	bottom: 15px;
	left: -160px;
	z-index: 1;
	clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%);
	
	animation-name: onloadHeaderGold;
	animation-duration: 1s;
}

h1 {
	color: #fef0da;
	font-size: 4.5rem;
	margin: 0;
	position: relative;
	
	animation-name: onloadHeader;
	animation-duration: 1.5s;
}

/*
h1 text and header bottom animations on page load
*/
@keyframes onloadHeader {
	0% {top: -200px; color: #4191d8;}
	33% {color: #4191d8;}
	100% {top: 0; color: #fef0da;;}
}

@keyframes onloadHeaderGold{
	0% {left: -480px;}
	100% {left: -160px;}
}

@keyframes onloadHeaderRed {
	0% {left: -160px;}
	33% {left: -160px;}
	100% {left: 0;}
}

/******************************************************************************
Navigation bar and other link styles
******************************************************************************/

nav a {
	color: #4191d8;
	text-decoration: none;
	font-size: 1.4rem;
	font-weight: regular;
}

nav a:not(:last-child) {
	margin-right: 20px;
}

nav a:hover {
	color: #fef0da;
}

nav a.currentPage {
	color: #fef0da;
}

p a{
	color: #4191d8;
	text-decoration: none;
}

p a:hover{
	color: #ff4e33;
}

/******************************************************************************
Main section styles
******************************************************************************/

main {
	padding: 0px 30px 50px 30px;
	color: #112C53;
}

h2 {
	font-size: 2.2rem;
	margin: 15px 0 10px 0;
}

p {
	font-size: 1.3rem;
	font-family: Georgia, serif;
	margin: 10px 0 25px 0;
}

/*
Styling for image gallery on design and art pages
*/
.gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-bottom: 30px;
}

.gallery figure {
	width: 400px;
	margin: 20px 60px 20px 0;
}

.gallery > figure > img {
	width: 400px;
	height: 400px;
	margin-bottom: 10px;
	object-fit: cover;
	cursor: pointer;
}

.gallery figcaption {
	font-size: 1.1rem;
	font-family: Georgia, serif;
}

.bold {
	font-weight: bold;
}

/*
Styling for enlarged images
*/

.galleryImageHidden {
	display: none;
}

.galleryImageLarge {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: rgba(0, 0, 0, .9);
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 4;
	cursor: pointer;
	
	animation-name: enlargeFadeIn;
	animation-duration: .75s;
}

.galleryImageLarge img {
	max-height: 80vh;
	max-width: 50vw;
	min-height: 200px;
	min-width: 200px;
	margin-right: 15px;
	cursor: default;
}

.galleryImageLarge section:last-child {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: #fef0da;
	width: 400px;
}

/*
Background fade-in animation for image enlargement
*/
@keyframes enlargeFadeIn {
	0% {background-color: rgba(0, 0, 0, 0);}
	100% {background-color: rgba(0, 0, 0, .9)}
}

/******************************************************************************
Footer styles
******************************************************************************/

footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: #fef0da;
	font-size: 1rem;
	background-color: #112C53;
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 0;
	width: 100%;
}

footer > section:first-child{
	padding: 15px;
}

.socialIcons {
	display: flex;
	flex-direction: row;
}

.footerRed {
	width: 20vw;
	background-color: #ff4e33;
}

.footerGold {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 20vw;
	background-color: #ffc837;
}

footer img {
	height: 40px;
	margin: 5px 10px 0 10px;
}
